@for $i from 0 to 10 {
  $value: $i * 5;
  .p-#{$value}px {
    padding: $value + px;
  }
  .m-#{$value}px {
    margin: $value  + px;
  }
  .my-#{$value}px {
    margin: $value  + px 0;
  }
  .mx-#{$value}px {
    margin: 0 $value  + px;
  }
  .py-#{$value}px {
    padding: $value  + px 0;
  }
  .px-#{$value}px {
    padding: 0 $value  + px;
  }
}

.py-5{
  padding: 5% 0;
}

.m-auto {
  margin: 30px;
}

.margin-0 {
  margin: 0!important;

}

.padding-0 {
  padding: 0!important;
}