node_modules
public/js
public/css
public/sitemap.xml
secrets.js
dist

.firebase
.firebaserc
firebase.json
firestore.rules
firebase.indexes.json
functions/hayesdevelopers-firebase-adminsdk-ktdyy-691e103d6d.json